#header-container {
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 999999; 

	> .container {
		position: relative;
	}

	img {
		max-width: 250px;
	}

	#menu-container {
		text-align: right;
		position: inherit;

		#menu-main-menu {
			display: inline-block;
			text-align: right;
			top: 25px;

			li {
				display: inline-block;
				padding-top: 46px;
				transition-duration: .3s;

				&:hover {
					border-bottom: 2px solid #ffffff;
				}

				a {
					color: #ffffff;
					display: inline-block;
					line-height: 1.5;
					padding: 10px 25px;

					&:hover {
						text-decoration: none;
					}
				}
			}

			#menu-item-267 {
				border: none;

				a {
					border: 1px solid #ffffff;
					border-radius: 30px;
				}
			}

			#menu-item-253 .sub-menu {
				display: block;
			}
		}

		.sub-menu {
			display: none;
		}
	}

	#menu-item-253 {
		&:hover > .sub-menu-wrap-container {
			opacity: 1;
			transition-duration: .3s;
			visibility: visible;
		} 

		li {
			padding: 0 !important;

			&:hover {
				border: none !important;
			}
		}

        > .sub-menu-wrap-container {
        	left: 0;
	        padding: 0 0.9375rem;
	        opacity: 0;
	        position: absolute;
	        right: 0;
	        text-align: left;
	        top: 81%;
	        transition-duration: .3s;
	        visibility: hidden;
	        width: 100%;

			> .sub-menu-wrap {
		        background: #8077B8;
				border-radius: 0 0 10px px;
		        padding: 30px 20px 20px;

		        @include clearfix;

		        > .sub-menu {
					padding: 0;

					.sub-menu-wrap .sub-menu {
						padding: 0;
					}

					a:hover {
						border: none !important;
					}

	        		> li {
			        	display: block;
			        	float: left;
			        	width: 20%;

			        	a {
			        		font-weight: bold;
			        		padding: 5px !important;
			        	}

			        	li {
			        		display: block !important;

			        		a {
				        		font-weight: normal;
				        	}
			        	}
			        }
		        }
		    }
        }
	}
}