#header-container.sticky {
	background: #8077B8;
	transition-duration: .3s;

	img {
		max-width: 175px;
		transition-duration: .3s;
	}

	#menu-container #menu-main-menu li {
		padding-top: 15px;
		transition-duration: .3s;
	}
}

#header-container {
	.mobile {
		text-align: center;

		img {
			max-width: 200px;
		}
	}
}

#header-container {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition-duration: .3s;
	width: 100%;
	z-index: 999999; 

	> .container {
		position: relative;
	}

	img {
		max-width: 250px;
		transition-duration: .3s;
	}

	#menu-container {
		text-align: right;
		position: inherit;

		#menu-main-menu {
			display: inline-block;
			text-align: right;
			top: 25px;

			li {
				display: inline-block;
				padding-top: 46px;
				transition-duration: .3s;

				&:hover {
					border-bottom: 2px solid #ffffff;
				}

				a {
					color: #ffffff;
					display: inline-block;
					line-height: 1.5;
					padding: 10px 25px;

					&:hover {
						text-decoration: none;
					}

					@media (max-width: 1024px) {
						padding: 10px 20px;
					}
				}
			}

			#menu-item-267 {
				border: none;

				a {
					border: 1px solid #ffffff;
					border-radius: 30px;
				}
			}

			#menu-item-253 .sub-menu {
				display: block;
			}
		}

		.sub-menu {
			display: none;
		}
	}

	#menu-item-253 {
		&:hover > .sub-menu-wrap-container {
			opacity: 1;
			transition-duration: .3s;
			visibility: visible;
		} 

		li {
			padding: 0 !important;

			&:hover {
				border: none !important;
			}
		}

        > .sub-menu-wrap-container {
        	left: 0;
	        padding: 0 0.9375rem;
	        opacity: 0;
	        position: absolute;
	        right: 0;
	        text-align: left;
	        top: 81%;
	        transition-duration: .3s;
	        visibility: hidden;
	        width: 100%;

			> .sub-menu-wrap {
		        background: #8077B8;
				border-radius: 0 0 10px px;
		        padding: 30px 20px 20px;

		        @include clearfix;

		        > .sub-menu {
					padding: 0;

					.sub-menu-wrap .sub-menu {
						padding: 0;
					}

					a:hover {
						border: none !important;
					}

	        		> li {
			        	display: block;
			        	float: left;
			        	width: 20%;

			        	a {
			        		font-weight: bold;
			        		padding: 5px !important;
			        	}

			        	li {
			        		display: block !important;

			        		a {
				        		font-weight: normal;
				        	}
			        	}
			        }
		        }
		    }
        }
	}
}

#mobile-menu-container {
	background: #8077B8;
	display: none;
	height: 100%;
	overflow: scroll;
	position: fixed;
	top: 0;
	width: 100%;

	.close-menu {
		background: url("../../assets/images/close.png") no-repeat 0 0 scroll transparent;
		cursor: pointer;
		display: inline-block;
		height: 21px;
		position: absolute;
		right: 30px;
		top: 30px;
		width: 21px;
	}

	.menu {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: left;

		li {
			margin-bottom: 5px;
		}

		> li > .sub-menu {
			margin: 0px;
			padding: 0px;

			> li {
				span.arrow-icon {
					display: inline-block;
					height: 24px;
					margin-right: 15px;
					vertical-align: middle;
					width: 24px;
				}

				> ul {
					margin-left: 40px;
				}
			}
		}

		> li > .sub-menu > li.menu-item-has-children {
			position: relative;

			span.arrow-icon.active {
				background: url("../../assets/images/up.png") no-repeat 0 0 scroll transparent;
				transition-duration: .3s;
			}

			span.arrow-icon {
				background: url("../../assets/images/down.png") no-repeat 0 0 scroll transparent;
				content: "";
				cursor: pointer;
				transition-duration: .3s;
			}
		}

		ul {
			list-style: none;
		}

		.sub-menu .sub-menu {
			display: none;
		}

		a {
			color: #ffffff;
			display: inline-block;
			margin-bottom: 10px;
		}
	}
}

#mobile-search-container {
	input[type='text'] {
		background: url("../../assets/images/search.png") no-repeat right 15px center scroll transparent;
		background-size: 20px;
		border: 1px solid #ffffff;
		border-radius: 30px;
		color: #ffffff;
		margin-bottom: 15px;
		margin-top: 15px;
		outline: none;
		padding: 5px 45px 5px 15px;;
		width: 100%;

		&:focus {
			outline: none;
		}
	}

	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: #ffffff;
		opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder { /* Internet Explorer 10-11 */
  		color: #ffffff;
	}

	::-ms-input-placeholder { /* Microsoft Edge */
  		color: #ffffff;
	}
}