/**
 * Global.
 */


.text-right {
	text-align: right;
}

body.page {
	font-family: 'Quicksand', sans-serif !important;
	font-size: 16px !important;
	overflow-x: hidden;

	h1, h2, h3, h4, h5, h6, p, span, input, em, b, a {
		font-family: 'Quicksand', sans-serif !important;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
	}

	h1 {
		font-size: 50px !important;
	}

	h2 {
		font-size: 40px !important;
	}

	h3 {
		font-size: 30px !important;
	}

	h4 {
		font-size: 24px !important; 
	}

	h5 {
		font-size: 20px !important;
	}

	h6 {
		font-size: 18px !important;
	}

	.main {
		min-height: 750px;
	}

	@media (max-width: 768px) {
		.desktop {
			display: none;
		}

		.mobile {
			display: block;
		}
	}

	@media (min-width: 769px) {
		.mobile {
			display: none;
		}
	}
}

span.search-icon {
	background: url("../../assets/images/search.png") no-repeat 0 0 scroll transparent;
	cursor: pointer;
	display: inline-block;
	height: 27px;
	margin-left: 15px;
	position: relative;
	top: 10px;
	width: 27px;
}

span.menu-icon {
	background: url("../../assets/images/menu.png") no-repeat 0 0 scroll transparent;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	position: absolute;
	right: 30px;
	top: 30px;
	width: 26px;
}

#search-modal-container {
	background: rgba(0, 0, 0, .81);
	display: none;
	height: 100%;
	left: 0;
	padding-top: 220px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999999999;

	.close-search {
		background: url("../../assets/images/close.png") no-repeat 0 0 scroll transparent;
		cursor: pointer;
		display: inline-block;
		height: 21px;
		position: absolute;
		right: 20px;
		top: -165px;
		width: 21px;
	}

	#search-container {
		background: #8874b5;
		border-radius: 50px;
		color: #ffffff;
		padding: 20px;

		input[type='text'] {
			background: none;
			border: none;
			border-bottom: 1px solid #ffffff;
			color: #ffffff;
			font-size: 23px;
			margin: 0 10px;
			outline: none;
			width: 81%;

			&:focus {
				outline: none;
			}
		}

		#searchsubmit {
			background: none;
			border: 1px solid #ffffff;
			border-radius: 25px;
			color: #ffffff;
			font-size: 18px;
			outline: none;
			padding: 10px 30px;
		}

		::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			color: #ffffff;
			opacity: 1; /* Firefox */
		}

		:-ms-input-placeholder { /* Internet Explorer 10-11 */
	  		color: #ffffff;
		}

		::-ms-input-placeholder { /* Microsoft Edge */
	  		color: #ffffff;
		}
	}
}

.white-outlined-button .wp-block-button__link {
	background: none !important;
	border-color: #ffffff !important;
	color: #ffffff !important;
	border-radius: 90px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.purple-filled-button .wp-block-button__link {
	background: #8874b5 !important;
	border-color: #8874b5 !important;
	color: #ffffff !important;
	border-radius: 90px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
}
